{
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy"
      ],
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "react",
        "stage-0",
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy"
      ],
      "presets": [
        "es2015",
        "react",
        "stage-0"
      ]
    },
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy"
      ],
      "presets": [
        "es2015",
        "react",
        "stage-0"
      ]
    }
  }
}